<div class="container text-center mt-5">
  <div>
    <h1>Welcome To Mos's App</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, facilis?
    </p>
  </div>
  <div>
    <button class="btn btn-primary m-2">
      <a routerLink="login-form">Login</a>
    </button>
    <button class="btn btn-secondary m-2">
      <a routerLink="register-form">Register</a>
    </button>
    <!-- <button class="btn btn-danger m-2">
      <a routerLink="users">Users</a>
    </button> -->
  </div>
</div>
