<app-user-details></app-user-details>
<div class="container">
  <h2>Users list</h2>
  <!-- <button routerLink="/active-users" class="btn btn-primary m-3">
    Active Users
  </button> -->
  <button routerLink="/" class="btn btn-secondary">Home</button>
  <table class="table">
    <tr>
      <td>First name</td>
      <td>Last name</td>
      <td>Email</td>
      <td>Options</td>
    </tr>

    <tr *ngFor="let user of this.users; let i = index">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button (click)="onSelect(user)" class="btn m-2">Edit</button>

        <button
          (click)="onDeleteByIndex(i, user)"
          class="btn bg-danger text-white"
        >
          Delete
        </button>
      </td>
    </tr>
  </table>
  <div *ngIf="showEditForm">
    <h3>Edit user</h3>
    <form [formGroup]="updateForm">
      <div class="mb-3">
        <label for="firstName">First Name</label>
        <input
          class="form-control"
          name="firstName"
          type="text"
          formControlName="firstName"
        />
      </div>
      <div class="mb-3">
        <label for="lastName">Last Name</label>
        <input
          class="form-control"
          name="lastName"
          type="text"
          formControlName="lastName"
        />
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input
          class="form-control"
          name="email"
          type="text"
          formControlName="email"
        />
      </div>
      <!-- <div *ngFor="let user of this.users; let i = index"> -->
      <!-- (click)="onSave(i)" -->
      <button (click)="onSave()" class="btn btn-dark">Save</button>
      <!-- </div> -->
    </form>
  </div>
</div>
